@model HotAshCigars.Models.Cigar

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="jumbotron col-sm-12">
        <h1 class="text-center display-3">@Html.DisplayNameFor(model => model.Name)</h1>
    </div>
    
    <div class="container">
        <p>@Html.DisplayFor(model => model.Description)</p>

        <table class="table my-0">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Weight)</th>
                <td>@Html.DisplayFor(model => model.Weight)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Dimensions.Width)</th>
                <td>@Html.DisplayFor(model => model.Dimensions.Width)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Dimensions.Height)</th>
                <td>@Html.DisplayFor(model => model.Dimensions.Height)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Dimensions.Depth)</th>
                <td>@Html.DisplayFor(model => model.Dimensions.Depth)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <td>@Html.DisplayFor(model => model.Price)</td>
            </tr>
        </table>

    </div>
</div>
<div class="container row flex-column flex-sm-row justify-content-around mx-auto">
    @Ajax.ActionLink("Add to Cart", "AddToCart", "Cart", new { @Model.ID }, new AjaxOptions {
        UpdateTargetId = "shoppingcartsummary",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get"
    }, new { @class = "btn btn-outline-dark my-2" })

    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark my-2" })
</div>

