@model IPagedList<HotAshCigars.Models.Cigar>

@using X.PagedList;
@using X.PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model != null) {
    <div class="row">
        @foreach (var item in Model) {
            <div class="col-md-6 col-xl-4">
                <div class="card my-1">
                    <img class="card-img-top img-fluid" src="http://placehold.it/350x200" />
                    <div class="card-block">
                        <h4 class="text-center">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <table class="table my-0">
                            <tr>
                                <th>@Html.DisplayNameFor(modelItem => item.Weight)</th>
                                <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(modelItem => item.Price)</th>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            </tr>
                        </table>
                        <div class="container row flex-column flex-sm-row justify-content-around mx-auto">
                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info my-2" })
                            @Ajax.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { @item.ID }, new AjaxOptions {
                                UpdateTargetId = "shoppingcartsummary",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "Get"
                            }, new { @class = "btn btn-primary my-2" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortExp = ViewBag.SortExpression, sortOrder = ViewBag.SortOrder }), new PagedListRenderOptions {
    UlElementClasses = new List<string> {
        "pagination",
        "justify-content-center"
    },
    LiElementClasses = new List<string> {
        "page-item"
    },
    PageClasses = new List<string> {
        "page-link"
    }
})